{% extends 'app/base.html' %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><i class="fas fa-box-open nav-icon"></i> Producto</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'bases:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'prod:producto-inicio' %}">Producto</a></li>
                    <li class="breadcrumb-item active">Nuevo Producto</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block contenido %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-plus-square"></i>
            Nuevo Producto
        </h3>
    </div>
    <div class="card-body">
        {% load widget_tweaks %}
        <form method="POST" class="from-inline" id="form-producto">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor%}
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.empresa.id_for_label }}">{{ form.empresa.label}}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-info btn-sm btn-empresa-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        {{ form.empresa|add_class:'form-control form-control-sm'}}
                    </div>
                    {% for error in form.empresa.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.tipo_producto.id_for_label }}">{{ form.tipo_producto.label}}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-info btn-sm btn-tipo-producto-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        {{ form.tipo_producto|add_class:'form-control form-control-sm' }}
                    </div>
                    {% for error in form.tipo_producto.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.categoria.id_for_label }}">{{ form.categoria.label}}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-info btn-sm btn-categoria-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        {{ form.categoria|add_class:'form-control form-control-sm' }}
                    </div>
                    {% for error in form.categoria.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.marca.id_for_label }}">{{ form.marca.label}}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-info btn-sm btn-marca-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        {{ form.marca|add_class:'form-control form-control-sm' }}
                    </div>
                    {% for error in form.marca.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.numero_parte.id_for_label }}">{{ form.numero_parte.label}}</label>
                <div class="col-md-4">
                    {{ form.numero_parte|add_class:'form-control form-control-sm' }}
                    {% for error in form.numero_parte.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.codigo_proveedor.id_for_label }}">{{ form.codigo_proveedor.label}}</label>
                <div class="col-md-4">
                    {{ form.codigo_proveedor|add_class:'form-control form-control-sm' }}
                    {% for error in form.codigo_proveedor.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.codigo_interno.id_for_label }}">{{ form.codigo_interno.label}}</label>
                <div class="col-md-4">
                    {{ form.codigo_interno|add_class:'form-control form-control-sm' }}
                    {% for error in form.codigo_interno.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.codigo_sunat.id_for_label }}">{{ form.codigo_sunat.label}}</label>
                <div class="col-md-4">
                    {{ form.codigo_sunat|add_class:'form-control form-control-sm' }}
                    {% for error in form.codigo_sunat.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.nombre.id_for_label }}">{{ form.nombre.label}}</label>
                <div class="col-md-6">
                    {{ form.nombre|add_class:'form-control form-control-sm' }}
                    {% for error in form.nombre.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div>
                <label class="col-form-label col-form-label-sm col-md-1" 
                    for"{{ form.afecto_igv.id_for_label }}">{{ form.afecto_igv.label}}</label>
                <div class="col-md-2">
                    <input type="checkbox" id="{{ form.afecto_igv.id_for_label }}" name="{{form.afecto_igv.name }}" 
                        {% if form.afecto_igv.value == 1 %}checked {% endif%}>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                </div>
                {% comment %} <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.detalle.id_for_label }}">{{ form.detalle.label}}</label>
                <div class="col-md-6">
                    {{ form.detalle|add_class:'form-control form-control-sm' }}
                    {% for error in form.detalle.errors %}
                        <small class="text-danger font-weight-bold">{{ error }}</small>
                    {% endfor %}
                </div> {% endcomment %}
                <label class="col-form-label col-form-label-sm col-md-1" 
                    for"{{ form.estado.id_for_label }}">{{ form.estado.label}}</label>
                <div class="col-md-2">
                    <input type="checkbox" id="{{ form.estado.id_for_label }}" name="{{form.estado.name }}" 
                        {% if form.estado.value == 1 %}checked {% endif%}>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm col-md-2" 
                    for"{{ form.imagen.id_for_label }}">{{ form.imagen.label}}</label>
                <div class="col-md-6">
                    <input type="file" id="{{ form.imagen.id_for_label }}" name="{{form.imagen.name }}"
                        class="form-control form-control-sm {% if form.imagen.errors %}is-invalid{% endif %}" 
                        placeholder="Sube Archivo">
                </div>
                {% comment %} {{ form.imagen }} {% endcomment %}
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success" id="modal-btn-guardar">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a href="{% url 'prod:producto-inicio' %}" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cerrar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock contenido %}

{% block scripts %}
<script src="/static/base/js/inventario/producto.js"></script>
{% endblock scripts %}